body {
    font-family: Roboto;
    background-color: black;
}

.post {
    background-color: white;
    width: 500px;
    height: 600px;
    position: absolute;
    left: 10%;
    top: 10%;
}

/*HEADER*/

.post-header {
    display: flex;
    height: 60px;
}

.header-details {
    width: 87%;
    padding-top: 5px;
}

.header-details p {
    margin: 4;
}

.fa-solid, .fa-brands {
    padding: 10px;
}

/*IMAGE*/

.post-img img {
    width: 100%;
}

/*BODY*/

.post-body p {
    margin: 10px;
    padding: 5px;
}

/*ICONS*/

.post-icons {
    display: flex;
    padding-top: 10px;
}

.post-icons-left {
    display: flex;
    width: 90%;
    padding-left: 8px;
}

i {
    font-size: 30;
    margin: 5;
}